
html{
	max-width: 100%;
}
body{
	background-image: url(../images4/background4.jpg);
	padding-top: 3%;
}
h1 {
	text-align: center;
	font-family: 'Lakki Reddy', cursive;
	font-size: 25px;
	font-weight:bold;
	color: violet;
}
p {
	font-family: 'Lakki Reddy', cursive;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	padding-top: 5%;
	color: orange;
}
h2 {
	text-align: center;
	font-family: 'Lakki Reddy', cursive;
	font-size: 20px;
	line-height: 25px;
	color: violet;
}
button{
	margin: 0 auto;
}
.container {
	max-width: 100%;
	float: center;
}
#profile-pic {
	width: 145%;
}
#gameinfo{
	display: none;
}
#setlist{
	display: none;
}
